<div #editor>
  <p class="text-center w-100" id="title">Gestion de InsumoLavados</p>
  <table [dataSource]="InsumoLavados" class="table table-active table-responsive-md" mat-table>
    <form (ngSubmit)="Add()" id="AInsumoLavado">
    </form>
    <ng-container matColumnDef="nombre">
      <th *matHeaderCellDef mat-header-cell>Nombre</th>
      <td *matCellDef="let insumoLavado" mat-cell> {{insumoLavado.nombreIP}} </td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="AInsumoLavado"
        id="ANombreIP"
        required
        type="text"
      />
      </tfoot>
    </ng-container>
    <ng-container matColumnDef="marca">
      <th *matHeaderCellDef mat-header-cell>Marca</th>
      <td *matCellDef="let insumoLavado" mat-cell>{{insumoLavado.marca}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control "
        form="AInsumoLavado"
        id="AMarca"
        required
        type="text"
      /></tfoot>
    </ng-container>
    <ng-container matColumnDef="cedula">
      <th *matHeaderCellDef mat-header-cell>Cedula</th>
      <td *matCellDef="let insumoLavado" mat-cell>{{insumoLavado.cedula}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="AInsumoLavado"
        id="ACedula"
        required
        type="text"
      /></tfoot>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th *matHeaderCellDef mat-header-cell>Eliminar</th>
      <td *matCellDef="let insumoLavado" mat-cell>
        <button (click)="Delete_Button(insumoLavado)"
                class="btn btn-danger btn-outline-secondary bg-danger text-dark"
                mat-button>Eliminar
        </button>
      </td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <button
        (click)="Add()" class="d-table-cell btn btn-success btn-outline-secondary btn-close-white" form="AInsumoLavado">
        Add
      </button>
      </tfoot>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let insumoLavado; columns:displayedColumns" class="text-capitalize" mat-row></tr>
    <tr *matFooterRowDef="displayedColumns" mat-footer-row style="width: 100%"></tr>
  </table>
</div>
