<div class="modal-title justify-content-center text-capitalize text-center text-bg-primary">
  <h2 class="p-2 ">
    Cita {{ cita.nombre }}
  </h2>
</div>
<div class="modal-body">
  <form (ngSubmit)="update()" [formGroup]="Cita">

    <p class="form-text form-label">Fecha</p>
    <input
      class="form-control"
      formControlName="Fecha"
      id="Fecha"
      placeholder="{{ cita.fecha }}"
      required
      type="datetime-local"
      value=""
    />
    <p class="form-text form-label">Tipo</p>
    <select class="form-control text-dark" formControlName="Tipo" id="Tipo"
            required>
      <option *ngFor="let kind of kinds" [value]="kind">{{kind}}</option>
      <option [value]="'kind'">kind</option>
    </select>
    <p class="form-text form-label">Sucursal</p>
    <select class="form-control text-dark" formControlName="Sucursal" id="Sucursal" required>
      <option *ngFor="let branch of branchs" [value]="branch">{{branch}}</option>
    </select>
    <p class="form-text form-label">Puntos</p>
    <input
      class="form-check-input d-table-cell "
      form="Puntos"
      id="Puntos"
      required
      type="checkbox"
    />
  </form>

</div>
<div class="modal-footer">
  <button (click)="update()" [disabled]="!Cita.valid" class="btn btn-outline-secondary btn-success text-dark"
          type="submit">Update
  </button>
  <button (click)="activeModal.close()" class="btn btn-outline-secondary btn-danger text-dark">Cancel</button>

</div>
