<div class="modal-title justify-content-center text-capitalize text-center text-bg-primary">
  <h2 class="p-2 ">
    Cliente {{ cliente.cedula }}
  </h2>
</div>
<div class="modal-body">
  <form (ngSubmit)="update()" [formGroup]="Cliente">

    <p class="form-text form-label">Nombre</p>
    <input
      class="form-control"
      formControlName="Nombre"
      id="Nombre"
      placeholder="{{ cliente.nombre }}"
      required
      type="text"
      value=""
    />
    <p class="form-text form-label">Usuario</p>
    <input
      class="form-control"
      formControlName="Usuario"
      id="Usuario"
      placeholder="{{ cliente.usuario }}"
      required
      type="text"
      value=""
    />
    <p class="form-text form-label">Password</p>
    <input
      class="form-control"
      formControlName="Password"
      id="Password"
      placeholder="{{ cliente.password }}"
      required
      type="text"
      value=""
    />
    <p class="form-text form-label">Correo</p>
    <input
      class="form-control"
      formControlName="Correo"
      id="Correo"
      placeholder="{{ cliente.correo }}"
      required
      type="text"
      value=""
    />
  </form>
</div>
<div class="modal-footer">
  <button (click)="update()" [disabled]="!Cliente.valid" class="btn btn-outline-secondary btn-success text-dark"
          type="submit">Update
  </button>
  <button (click)="activeModal.close()" class="btn btn-outline-secondary btn-danger text-dark">Cancel</button>

</div>
