<div class="modal-title justify-content-center text-capitalize text-center text-bg-primary">
  <h2 class="p-2 ">
    Proveedor {{ proveedor.nombre }}
  </h2>
</div>
<div class="modal-body">
  <form (ngSubmit)="update()" [formGroup]="Proveedor">

    <p class="form-text form-label">nombre</p>
    <input
      class="form-control"
      formControlName="nombre"
      id="nombre"
      placeholder="{{ proveedor.nombre }}"
      required
      type="text"
      value=""
    />
    <p class="form-text form-label">Cedula juridica</p>
    <input
      class="form-control"
      formControlName="juridica"
      id="juridica"
      placeholder="{{ proveedor.juridica }}"
      required
      type="text"
      value=""
    />
    <p class="form-text form-label">Direccion</p>
    <input
      class="form-control"
      formControlName="direccion"
      id="direccion"
      placeholder="{{ proveedor.direccion }}"
      required
      type="text"
      value=""
    />
    <p class="form-text form-label">Contacto</p>
    <input
      class="form-control"
      formControlName="contacto"
      id="contacto"
      placeholder="{{ proveedor.contacto }}"
      required
      type="text"
      value=""
    />
    <p class="form-text form-label">Correo</p>
    <input
      class="form-control"
      formControlName="correo"
      id="correo"
      placeholder="{{ proveedor.correo }}"
      required
      type="text"
      value=""
    />
  </form>
</div>
<div class="modal-footer">
  <button (click)="update()" [disabled]="!Proveedor.valid" class="btn btn-outline-secondary btn-success text-dark"
          type="submit">Update
  </button>
  <button (click)="activeModal.close()" class="btn btn-outline-secondary btn-danger text-dark">Cancel</button>

</div>
