<div #editor>
  <p class="text-center w-100" id="title">Gestion de Direccions</p>
  <table [dataSource]="Direcciones" class="table table-active table-responsive-md" mat-table>
    <form (ngSubmit)="Add()" id="ADireccion">
    </form>
    <ng-container matColumnDef="cedula">
      <th *matHeaderCellDef mat-header-cell>Cedula</th>
      <td *matCellDef="let direccion" mat-cell> {{direccion.cedula}} </td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="ADireccion"
        id="ACedula"
        required
        type="text">
      </tfoot>
    </ng-container>
    <ng-container matColumnDef="direccion">
      <th *matHeaderCellDef mat-header-cell>Direccion</th>
      <td *matCellDef="let direccion" mat-cell>{{direccion.direccion}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="ADireccion"
        id="ADirecciones"
        required
        type="text"
      /></tfoot>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th *matHeaderCellDef mat-header-cell>Eliminar</th>
      <td *matCellDef="let direccion" mat-cell>
        <button (click)="Delete_Button(direccion)"
                class="btn btn-danger btn-outline-secondary bg-danger text-dark"
                mat-button>Eliminar
        </button>
      </td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <button
        (click)="Add()" class="d-table-cell btn btn-success btn-outline-secondary btn-close-white" form="ADireccion">
        Add
      </button>
      </tfoot>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let direccion; columns:displayedColumns" class="text-capitalize" mat-row></tr>
    <tr *matFooterRowDef="displayedColumns" mat-footer-row style="width: 100%"></tr>
  </table>
</div>
