/**

 */
.element-input {
  width: 100%;
}

/**

 */
#centraldiv {
  width: 40%;
  position: absolute;
  left: 3%;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
}

/**
 Formato del encabezado donde se encuentra el titulo de la pagina
 */
#title {
  align-content: center;
  alignment: center;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  background-color: #7a98fa;
}

/**
Formato de los figura de los botones de la pagina
 */
#Buttons {
  display: flex;
  margin: 5%;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;

}

/**
Define las caracteristicas que tendran los botones
 */
#Buttons > button {
  width: 30%;
  font-size: larger;
}


p {
  font-size: 20px;
  alignment: center;
}

button {
  border-radius: 4px;
  gap: 1px;
  background-color: #DFF693;
  border-color: #4A5F02;
  border-style: dot-dash;
}

div {
}

th {
  text-align: center;
  justify-self: center;
  justify-content: center;
}
tr {
  text-align: center;
  justify-self: center;
  justify-content: center;
}

td.d-table-cell {
  text-align: center;
  justify-self: center;
  justify-content: center;
}

cdk-header-cell {
  text-align: center;
  justify-self: center;
  justify-content: center;
}

input {
  border-radius: 12%;
  background: #fadddd;
  font-size: small;
}

.mat-column-edad {
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column {
  text-align: center;
}

th.mat-header-cell, mat-cell {
  justify-content: center;
  text-align: center;
  justify-self: center;

}
