<div #editor>
  <p class="text-center w-100" id="title">Gestion de Trabajadores</p>
  <table [dataSource]="Workers" class="table table-active table-responsive-md" mat-table>
    <form (ngSubmit)="Add()" id="Atrabajador">
    </form>
    <ng-container matColumnDef="nombre">
      <th *matHeaderCellDef mat-header-cell>Nombre</th>
      <td *matCellDef="let worker" mat-cell> {{worker.nombre}} </td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="Atrabajador"
        id="ANombre"
        required
        type="text">
      </tfoot>
    </ng-container>
    <ng-container matColumnDef="apellidos">
      <th *matHeaderCellDef mat-header-cell>Apellido 1</th>
      <td *matCellDef="let worker" mat-cell>{{worker.apellidos}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="Atrabajador"
        id="AApellidos"
        required
        type="text"
      /></tfoot>
    </ng-container>
    <ng-container matColumnDef="apellidos2">
      <th *matHeaderCellDef mat-header-cell>Apellido 2</th>
      <td *matCellDef="let worker" mat-cell>{{worker.apellidos2}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="Atrabajador"
        id="AApellidos2"
        required
        type="text"
      /></tfoot>
    </ng-container>
    <ng-container matColumnDef="cedula">
      <th *matHeaderCellDef mat-header-cell>Cedula</th>
      <td *matCellDef="let worker" mat-cell>{{worker.cedula}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control "
        form="Atrabajador"
        id="ACedula"
        required
        type="text"
      /></tfoot>
    </ng-container>
    <ng-container matColumnDef="fecha_de_ingreso">
      <th *matHeaderCellDef mat-header-cell>Fecha de ingreso</th>
      <td *matCellDef="let worker" mat-cell>{{worker.fecha_de_ingreso}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="Atrabajador"
        id="AFecha_de_ingreso"
        required
        type="text"
      /></tfoot>
    </ng-container>
    <ng-container matColumnDef="fecha_de_nacimiento">
      <th *matHeaderCellDef mat-header-cell>Fecha de nacimiento</th>
      <td *matCellDef="let worker" mat-cell>{{worker.fecha_de_nacimiento}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="Atrabajador"
        id="AFecha_de_nacimiento"
        required
        type="text"
      /></tfoot>
    </ng-container>
    <ng-container matColumnDef="edad">
      <th *matHeaderCellDef mat-header-cell>Edad</th>
      <td *matCellDef="let worker" mat-cell>{{worker.edad}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="Atrabajador"
        id="AEdad"
        required
        type="text"
      /></tfoot>
    </ng-container>
    <ng-container matColumnDef="password">
      <th *matHeaderCellDef mat-header-cell>Contraseña</th>
      <td *matCellDef="let worker" mat-cell>{{worker.password}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="Atrabajador"
        id="APassword"
        required
        type="text"
      /></tfoot>
    </ng-container>
    <ng-container matColumnDef="rol">
      <th *matHeaderCellDef mat-header-cell>Rol</th>
      <td *matCellDef="let worker" mat-cell>{{worker.rol}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="Atrabajador"
        id="ARol"
        required
        type="text"
      /></tfoot>
    </ng-container>
    <ng-container matColumnDef="pago">
      <th *matHeaderCellDef mat-header-cell>Pago</th>
      <td *matCellDef="let worker" class="d-table-cell " mat-cell>{{worker.pago}}</td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <input
        class="d-table-cell form-control"
        form="Atrabajador"
        id="APago"
        required
        type="text"
      /></tfoot>
    </ng-container>
    <ng-container matColumnDef="eliminar">
      <th *matHeaderCellDef mat-header-cell>Eliminar</th>
      <td *matCellDef="let worker" mat-cell>
        <button (click)="Delete_Button(worker)" class="btn btn-danger btn-outline-secondary bg-danger text-dark"
                mat-button>Eliminar
        </button>
      </td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <button
        (click)="clean()" class="d-table-cell btn btn-success btn-outline-secondary btn-close-white" form="Atrabajador">
        Clean
      </button>
      </tfoot>
    </ng-container>
    <ng-container matColumnDef="modificar">
      <th *matHeaderCellDef mat-header-cell>Modificar</th>
      <td *matCellDef="let worker" class="d-table-cell " mat-cell>
        <button (click)="modify_Button(worker.cedula)" class="btn btn-warning bg-white" data-target="#edit"
                data-toggle="modal"
                mat-button>Modificar
        </button>
      </td>
      <tfoot *matFooterCellDef class="d-table-cell ">
      <button
        (click)="Add()" class="d-table-cell btn btn-success btn-outline-secondary btn-close-white" form="Atrabajador">
        Add
      </button>
      </tfoot>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let worker; columns:displayedColumns" class="text-capitalize" mat-row></tr>
    <tr *matFooterRowDef="displayedColumns" mat-footer-row style="width: 100%"></tr>
  </table>
</div>
