name: Build and Deploy
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  copy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: ls -R
    - run: |
        sudo apt update
        sudo apt-get install -y nodejs
        nodejs -v
        sudo apt install -g npm@latest
        sudo npm install -g @angular/cli
        sudo npm install -g @angular/material
        sudo npm install -g @angular/core
        sudo npm install -g @angular/compiler
        sudo npm install -g @angular/cdk
        sudo npm install -g @angular/platform-browser-dynamic


